### Java & Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Logs & OS ###
*.log
.DS_Store
Thumbs.db

### Help files ###
HELP.md
### Secrets & Config ###
# Chặn file cấu hình thật chứa mật khẩu
src/main/resources/application.properties

# KHÔNG chặn file example
!src/main/resources/application.properties.example

# Chặn các file cấu hình tạm hoặc file log phát sinh
src/main/resources/*.log